.linkRed{
  color: red;
  text-decoration: none;
}
.imgDetalleRecital{
  padding-top: 5%;
}
#imagenes{
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.borrar{
  margin-top: 1%;
}
#puntaje{
  height: 30px;
}
.comentario{
  background-color: AntiqueWhite;
  text-align: center;
}
.comentarios{
  font-family: 'Fjalla One', sans-serif;
  margin-top: 1%;
}
.link{
  margin: 1%;
}
.linkImg{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}
.maxCarousel{
  height: 250px;
}
.imgCarousel img{
  height: 100%;
  width: 100%;
}
.imageCarousel{
  height: 500px;
  width: 100%;
}
.imgCarousel{
  height: 100%;
  width: 100%;
}
h3{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

th{
  text-align: center;
}

.centrarfila{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-weight: bold;
}
h3, p, .datosBanda{
  font-family: 'Abel', sans-serif;
}
.mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
}
.mainNav, .bordeArribaNews h1, .bordeAbajoNews h2, .bordeAbajoMusic h2, .bordeArribaMusic h1, .lista li a, .datosBanda h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
.mainNav .navbar-brand {
  font-size: 30px;
  font-weight: 800;
  color: #343a40;
}

.mainNav .navbar-toggler {
  font-size: 15px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #cc1a25;
}
.nav-link, .datosBanda{
  font-size: 20px;
}
.nav-link {
  font-weight: 800;
  letter-spacing: 1px;
  margin-left: 20px;
}

@media only screen and (min-width: 992px) {
  .mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  .mainNav .navbar-brand {
    padding: 10px 30px;
    color: #fff;
  }
  .mainNav .navbar-brand:focus, .mainNav .navbar-brand:hover {
    color: #cc1a25;
  }
  .mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  .mainNav .navbar-nav > li.nav-item > a:focus, .mainNav .navbar-nav > li.nav-item > a:hover {
    color: #cc1a25;
  }
}
.bordeArribaNews, .bordeArribaCarousel, .bordeArribaMusic, .bordeAbajoNews, .bordeAbajoCarousel, .bordeAbajoMusic{
  background-color: #cc1a25;
}

.bordeArribaNews, .bordeArribaCarousel, .bordeArribaMusic{
  margin-top: 3%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bordeArribaNews h1, .bordeAbajoNews h2, .bordeAbajoMusic h2, .bordeArribaMusic h1{
  padding: 1%;
  color: white;
  margin-left: 2%;
}
.bordeAbajoNews a.back, .bordeAbajoMusic a{
  text-decoration: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
.bordeAbajoNews h2, .bordeAbajoMusic h2{
  margin-top: 0;
}
.bordeArribaCarousel, .bordeAbajoCarousel, .bordeAbajoNews, .bordeAbajoMusic, .bordeArribaMusic, .bordeArribaNews{
  height: 40px;
}
.bordeAbajoNews{
  margin-top: 1%;
}
.bordeArribaNews{
  margin-bottom: 1%;
}
.bordeAbajoNews, .bordeAbajoCarousel, .bordeAbajoMusic{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*MAINNAV*/
@media only screen and (min-width: 992px) {/*noc que hace*/
  .mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  .mainNav.is-fixed {/*noc q hace*/
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  .mainNav.is-fixed .navbar-brand:focus, .mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  .mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  .mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, .mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  .mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {/*ya esta*/
  margin-bottom: 2%;
  background: no-repeat center center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/headerrs.jpg");
}


.masthead .overlay {/*ya esta*/
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background-color: #212529;
  opacity: 0;
}

@media only screen and (min-width: 768px) { /*ya pasado*/
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 250px 0;
  }
}
@media only screen and (max-width: 600px) {
  .noticia a h3{

    font-size: 12px;
  }
  .bordeArribaNews h1, .bordeArribaMusic h1{
    margin-top: 20%;
    padding: 2%;
    font-size: 2em;
  }
  .bordeAbajoNews h2, .bordeAbajoMusic h2{
    display: none;
  }
  .bordeArribaCarousel{
    margin-top: 20px;
  }

}
/*FOOTER*/
footer {
  padding: 200px 0 65px;
}

/*LISTA*/
.lista li{
  display: inline-block;
  font-weight: bold;
  color: #cc1a25;
}
.datosBanda{
  text-align: center;
}
.noticia a:hover{
  text-decoration: none;
}
.noticia h3{
  font-size: 20px;
}
.noticia a h3:hover{
  color: #cc1a25;
}
select.custom-select{
  height: 10%;
}

.resaltado{
  background-color: blue;
}
